@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  color: white;
}
form {
  width: 40%;
  margin: 30px auto;
}
table.list {
  margin: 50px auto;
  width: 70%;
  border-collapse: collapse;
}
table.list th {
  background-color: #cc5500;
  width: 16%;
  height: 50px;
  color: white;
}
td,
th {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #4285f4;
  color: white;
}
tr:nth-child(odd),
table.list thead > tr {
  background-color: white;
  color: #4285f4;
}
label {
  color: white;
}
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 8px;
}
input[type="submit"] {
  width: 25%;
  background-color: #4285f4;
  color: white;
  padding: 18px 20px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}
input[type="submit"]:hover {
  background-color: #cc5500;
  color: white;
}
form div.form-action-buttons {
  text-align: right;
}
a {
  cursor: pointer;
  text-decoration: underline;
  margin-right: 4px;
}
a:hover {
  color: #ecb22e;
}
label.validation-error {
  color: red;
  margin-left: 5px;
}
.hide {
  display: none;
}
.topEmployees,
.vacationFirst {
  background-color: #cc5500;
  margin: 15px auto;
  width: 70%;
  border-radius: 12px;
  color: white;
}
#top,
#vacatHOne {
  padding: 15px 0 0 0;
  color: white;
}
#top5,
#btnVac {
  margin: 10px 50px;
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #4285f4;
  color: white;
  border-radius: 12px;
  border: none;
}
#res,
#resVac {
  margin: 10px 50px;
  padding-bottom: 20px;
  font-size: 20px;
  border-radius: 12px;
}
ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 20px auto;
}
li {
  float: left;
}
li a {
  background-color: #4285f4;
  display: block;
  color: white;
  padding: 20px 15px;
  margin: 20px;
  width: 80%;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
}
li a:hover {
  background-color: #ecb22e;
  color: white;
}

.active {
  background-color: #cc5500;
  border-left: none;
  border-right: none;
}
#myChart {
  margin: 50px auto;
}
